doctype html
html(lang="en")
    head
        title= title 
        link(rel="stylesheet", href="../css/style.css")
    body
        include ../partials/header
        main
            div.about-container
                h1 About TechBlog
                p Welcome to TechBlog, your go-to source for the latest tech news, reviews, and insights. 
                p Our mission is to provide our readers with thorough and engaging content that helps them 
                  stay updated on the tech world, from gadgets and software to emerging trends and innovations.
                p Join our community of tech enthusiasts and explore our articles, tutorials, and guides 
                  to stay informed and inspired.
        include ../partials/footer